body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    z-index: 420;
}

.navbar-brand img {
    height: 1.5rem;
}

.relay-container {
    display: flex;
    flex-grow: 1;
}

.relay-container nav {
    width: 16.67%;
    overflow-y: auto;
}

.relay-container main {
    background: #eee;
    width: 83.33%;
    overflow-y: auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	padding: 15px 32px;
  	text-align: center;
  	display: inline-block;
 	font-size: 16px;
 	position: absolute;
  	left: 440px;
  	top: 280px;
    text-decoration: none;
    color: initial;
}
